body {
    background-image: url('images/background.gif');
    background-attachment: fixed;
    
    font-style: italic;
    
    font-size: 14pt; 
    font-family: Georgia, serif; 
    color: #333333;
}

h1 {
    font-weight: bold;
    text-align: center;
    color: rgb(23, 180, 201); 
    font-style: normal;
}

p {
    text-indent: 40px; 
    
    text-align: justify;
    
    margin-left: 4%;
    margin-right: 4%;
} 

a:link {
    color: green;
    text-decoration: none;
}

a:visited {
    color: darkblue;
    text-decoration: none;
}

a:active {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: red;
    text-decoration: underline;
}

img {
    float: left;
    margin-right: 15px;
    border: 1px solid gray;
    padding: 3px;
    max-width: 300px;
}

.img-right {
    float: right; 
    margin-left: 15px;
    margin-right: 0;
}